
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section.hero {
    background-image: url('./images/cover.jpg'); 
    background-size: contain;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

section.hero h2 {
    font-size: 36px;
    text-shadow: 12px 12px 18px black;
}

section.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

section.destinations {
    padding: 40px 0;
    text-align: center;
    background-color: rgba(49, 189, 227, 0.249);
}

.destination {
    
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 450px;
    width: 380px;
}

.destination img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.ex{
    padding: 20px;
}
